In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('bios.csv')

In [3]:
# replace NaN values with NULL
# df = df.replace({np.nan: 'NULL'})

# Corrected version
# this will allow MySQL to interpret empty values as NULL values
df = df.replace({np.nan: None})

In [4]:
# Create a connection to your MySQL database
engine = create_engine('mysql+mysqlconnector://root:060894@localhost/athletes_db')

# Convert the DataFrame to a list of dictionaries
records = df.to_dict('records')

# Insert the data into a MySQL table
df.to_sql('athletes', con=engine, if_exists='append', index=False)

145500